@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --first:#E4E4E4;
    --second:#D5DEEF;
    --third:#B2CAEE;
    --fourth:#89AFE0;
    --fifth:#3A5985;
    --sixth:#22344e;
    --sixth2:#253a57;
}
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;

}

.wel {
    text-align: end;
}

.wrapper {
    max-width: 1245px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    align-items: center;
    height: 75px;
    justify-content: center;
    display: flex;
    background-color: var(--second);

}

.header-links {
    display: flex;
    width: 89%;
    justify-content: end;
}

.logo {
    position:absolute;
    left: 150px;
}
.header-links a {
    color: var(--fifth);
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    padding-right: 4%;
}

.logo a {
    text-decoration: none;
    font-size: 35px;
    color: var(--fifth);
}




.welcome {
    position: relative;
    background-color: #333;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    height: 800px;
    background-image: url('https://www.indiewire.com/wp-content/uploads/2021/06/AdobeStock_274383137.jpeg');
}
.welcome__title span {
    color: #013e5d;
    background: rgba(225, 225, 225, 0.1);
    overflow:hidden;
    border-radius: 7px;
    backdrop-filter: blur(5px);
    box-shadow: 75px 20px 50px rgba(0, 0, 0, 0.5);
}




.welcome__title{
    padding: 20px;
    line-height: 1.5;
    color:#FFF;
    position:absolute;
    top: 200px;
    background: rgba(225, 225, 225, 0.1);
    overflow:hidden;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}




.welcome__desc {
    padding: 20px;
    font-size: 17px;
    line-height: 1.5;
    color:#FFF;
    position:absolute;
    top: 350px;
    background: rgba(225, 225, 225, 0.1);
    overflow:hidden;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.welcome__things {
    display: inline-block;
    position: absolute;
    top: 430px;
    color:#FFF;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 30px;
    background: rgba(42, 44, 73, 0.5);
    overflow:hidden;
    border-radius: 9px;
    backdrop-filter: blur(2px);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
}



.menu-list{
    position:absolute;
    top: 20px;
    left: 20px;
}

.beine{
    height: 1400px;
}

.beine__title {
    font-size: 24px;
    font-weight: 500;
    margin: 30px 0;
}

.beine__desc{
    width: 50%;
    font-size: 20px;
    margin-bottom: 10px;
}

.beine__img {
    width: 3%;
    position: absolute;
    left: 330px;
    bottom: -230px;
}

.info__desc {
    font-size: 16px;
    background: rgba(225, 225, 225, 0.1);
    overflow:hidden;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    padding: 20px;

}

.nvidea {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.nvidea-inner {
    width: 40%;
}


.nv__title {
    font-size: 15px;
    font-weight: 600;
}

.games {
    display: flex;
    align-items: center;
}

.fps {
    margin-left: 15px;
    font-size: 20px;
    font-weight: 500;
}

.games img {
    background-color: black;
    border-radius: 10px;
    padding: 5px 20px ;
    margin-right: 30px;
}

.games {
    margin-bottom: 20px;
    margin-top: 20px;
}

.gtx {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

.proc {
    background-color:#F1F5F8;
    height: 650px;
}

.proc-img {
    width: 3%;
    position: absolute;
    left: 330px;
    bottom: -1676px;
}

.vid__img {
    width: 10%;
}

.VID-PROC{
    justify-content: center;
    align-items: center;
    display: flex;
}

.proc__title{
    font-size: 24px;
    font-weight: 500;
    margin: 30px 0;
    padding: 20px;
}

.jedel__title {
    font-size: 24px;
    font-weight: 500;
    margin: 30px 0;
    padding: 20px;
}

.proc__desc {
    margin-bottom: 10px;
    width: 70%;
    font-size: 20px;
}














.jedel {
    background-color: rgb(187, 187, 187);
}
.jedel__img {
    width: 3%;
    position: absolute;
    top: 3026px;
    left: 365px;
}

.jedel__desc {
    width: 50%;
    font-size: 20px;
    margin-bottom: 10px;

}

.j-info__title{
    font-size: 16px;
    background: rgba(225, 225, 225, 0.1);
    overflow:hidden;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    padding: 20px;
    font-weight: 500;
    margin-top: 20px;
}


.ssd__desc {
    font-size: 20px;
    color: #fff;
    z-index: 2;
    font-weight: 500;
    margin: 30px 0;
    padding: 20px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    position: relative;
    margin: 30px;
    padding: 30px;

}
.ssd__title {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin: 30px 0;
    padding: 20px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(225, 225, 225, 0.1);
    overflow:hidden;
    position: relative;
    margin: 30px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    padding: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}


.ssd__img{
    width: 3%;
    z-index: 2;
    position: absolute;
    top: 4199px;
    left: 950px;
}

.ssd {
    background: #161623;
    height: 850px;
}

.ssd::before {
    content:'';
    position:absolute;
    top: 4177px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #DA4453;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    clip-path: circle(37% at right 37%);

}

.ssd::after{
    content:'';
    position:absolute;
    top: 4177px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1f4037;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    clip-path: circle(20% at 10% 10%);
}

.s-info__desc {
    color: #fff;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(225, 225, 225, 0.1);
    overflow:hidden;
    position: relative;
    margin: 30px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    padding: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

@media (max-width:767px) {
    .welcome__things {
        font-size: 15px;
        top: 350px;
        left: 0;
        right: 0;
    }
    .header {
        height: 70px;
    }

    .proc__desc {
        width: 100%;
        font-size: 14px;
    }
    /* .header-links {
        z-index: 2;
        position: fixed;
        width: 90%;
        left: 0;
        top: 0;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        transition: 0.5s;
        transform: translateX(100%);
        display: inline;
    }

    .header-links__active {
        transform: translateX(0%);
    } */
    .welcome__title {
        font-size: 23px;
        top: 80px;
        left: 0;
        right: 0;
    }
    iframe {
        width: 350px;
        height: 400px;
    }
    .jedel {
        height: 1300px;
    }

    .jedel__img {
        
    width: 13%;
    position: absolute;
    top: 4188px;
    left: 250px;

    }

    .jedel__desc {
        width: 100%;
    }

    .ssd::before {
        top: 5717px;
    }
    .ssd::after {
        top: 5782px;
    }
    .ssd {
        height: 1500px;
        margin-top: 20px;
    }
    .ssd__img {
        display: none;
        width: 11%;
        z-index: 2;
        position: absolute;
        top: 4460px;
        margin-left: 230px;
    }

    .proc {
        height: 777px;
    }


    .header-links a{
        font-size: 20px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-bottom: 20px;
    }
    .welcome__desc{
        font-size: 13px;
        top: 244px;
        left: 0;
        right: 0;
    }


/* 
    .header-links a {
        z-index: 1;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-bottom: 20px;

    } */


    .logo a {
        font-size: 17px;
    }

    .logo{
        left: 50px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        left: 150px;
    }

    .header__burger span {
        position: absolute;
        background-color: rgb(24, 24, 24);
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        top: 9px;
    }
    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: rgb(0, 0, 0);
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger::before{
        top: 0;
    } */

    .beine__img {
        width: 13%;
        left: 200px;
        bottom: -127px;
    }


    .nvidea {
        display: block;

    }

    .beine {
        height: 2440px;
    }

    .beine__desc {
        font-size: 15px;
        width: 90%;
    }



    /* close */

    .close {
        position: absolute;
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
        opacity: 0.3;
        }
        .close:hover {
        opacity: 1;
        }
        .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
        }
        .close:before {
        transform: rotate(45deg);
        }
        .close:after {
        transform: rotate(-45deg);
        }





    .header-links{
        z-index: 2;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        height: 100vh;
        display: inline;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        transition: 0.5s;
        transform: translateX(-100%);
    }
    .header-links__active{
        transform: translateX(0%);
    }


    .proc-img {
        width: 13%;
        position: absolute;
        left: 205px;
        bottom: -2618px;
    }
    .beine__img {
        width: 13%;
        left: 201;
        top: -130px;
    }


    

}




